.recuperar-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.recuperar-container h2 {
  color: #4a148c;
}

.recuperar-container p {
  color: rgb(114, 114, 114);
}

.recuperar-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.recuperar-container button {
  width: 100%;
  padding: 10px;
  background-color: #a275e0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.recuperar-container button:hover {
  background-color: #9157c1;
}

.recuperar-container .token-message {
  color: #4a148c;
  font-weight: bold;
  margin-top: 20px;
}
